header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

header .navbar-nav .nav-link {
    margin-left: 5px;
    font-size: 1.2rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}

header .navbar-nav .nav-link:hover {
    background-color: #9b6060 !important;
}

#welcome {
    background: url('/img/fondo.jpg') repeat;
    background-size: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2.5px);
}
.overlay {
    background: rgba(0, 0, 0, 0.9);
    padding: 3rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    backdrop-filter: blur(0px);
}

.ranura-foto {
    background-color: #f8f9fa;
    overflow: hidden;
    cursor: pointer;
}

/* Classe base per altura a mòbil */
.h-300 {
    height: 300px;
}

/* A partir de mida md (768px) */
@media (min-width: 768px) {
    .h-md-400 {
        height: 400px;
    }
}

/* A partir de mida xl (1200px) */
@media (min-width: 1200px) {
    .h-xl-450 {
        height: 450px;
    }
}

.ranura-foto:hover {
    background-color: #e9ecef;
    transition: 0.2s;
}

.ajusta-cobertura {
    object-fit: cover;
}

.etiqueta-pujar span {
    font-size: 4rem;
    color: #6c757d;
    transition: 0.2s;
}

.etiqueta-pujar:hover span {
    color: #495057;
}
